
<div class="row">
  <div class="bg-primary text-white col-12">
    <h1 style="text-align: center;">FlipKart</h1>
  </div>
</div>


<div class="row">

  <div  class="bg-light  col-2">
      <br/>
     &nbsp;&nbsp; <a routerLink="/home">WomensWear</a> <br/><br/>
     &nbsp;&nbsp;  <a routerLink="/user">MensWear</a><br/><br/>&nbsp;&nbsp; 
     
     <div class="dropdown-menu">
      <a class="dropdown-item" routerLink="/children" style="color: black;">Toys</a>
    </div>
    <button type="button" class="btn dropdown-toggle btn-primary" data-toggle="dropdown" style="padding: 1px;">
        Children
    </button>

    <br/><br/>&nbsp;&nbsp;  <a routerLink="/mobile">Mobiles</a><br/><br/>&nbsp;&nbsp; 
    
  </div>

  <div  class="bg-light col-10">&nbsp;
      <router-outlet>
        </router-outlet>
  </div>

</div>  
 




<!-- 
 <app-login>

</app-login>    -->








