

<div class="row" style="color: black;">
    <div class="col-3">
            <img src="./assets/a2.jpeg">  
            <h6 >Doll</h6> <h6 >₹1500</h6>
    </div>
    <div class="col-3">
            <img src="./assets/c2.jpeg"> <h6> Puppy bag</h6> <h6>₹3000</h6>
    </div>
    <div class="col-3">
            <img src="./assets/b2.jpeg"> <h6> Doll with girl</h6> <h6>₹5000</h6>
    </div>
    <div class="col-3">
            <img src="./assets/d2.jpeg"> <h6> Brown doll</h6> <h6>₹1800</h6>
    </div>
</div>

<br/>



<div class="row" style="color: black;">
        <div class="col-3">
                <img src="./assets/e2.jpeg"> <h6>Puppy house</h6> <h6>₹1700</h6>
        </div>
        <div class="col-3">
                <img src="./assets/f2.jpeg"> <h6> Police car</h6> <h6>₹1000</h6>
        </div>
        <div class="col-3">
                <img src="./assets/g2.jpeg"> <h6> Remote car</h6> <h6>₹1800</h6>
        </div> 
        <div class="col-3">
                <img src="./assets/h2.jpeg"> <h6>colour dice </h6> <h6>₹1500</h6>
        </div>
    </div> -->




