

<div class="row" style="color: black;">
    <div class="col-3">
            <img src="./assets/a.jpeg">  
            <h6 > Modern Lehanga black dress</h6> <h6 >₹1500</h6>
    </div>
    <div class="col-3">
            <img src="./assets/c.jpeg"> <h6> Modern gagra pink dress</h6> <h6>₹3000</h6>
    </div>
    <div class="col-3">
            <img src="./assets/b.jpeg"> <h6> Dark gown blue dress</h6> <h6>₹1700</h6>
    </div>
    <div class="col-3">
            <img src="./assets/d.jpeg"> <h6> fit and Flare blue dress</h6> <h6>₹1800</h6>
    </div>
</div>




<div class="row" style="color: black;">
        <div class="col-3">
                <img src="./assets/e.jpeg"> <h6> Gown maroon dress</h6> <h6>₹1700</h6>
        </div>
        <div class="col-3">
                <img src="./assets/f.jpeg"> <h6> Modern Frog light pink dress</h6> <h6>₹1000</h6>
        </div>
        <div class="col-3">
                <img src="./assets/g.jpeg"> <h6> Modern Lehanga yellow dress</h6> <h6>₹1800</h6>
        </div> 
        <div class="col-3">
                <img src="./assets/h.jpeg"> <h6> A-line multi color dress</h6> <h6>₹1500</h6>
        </div>
    </div>






