



<h3>Mobile Details</h3>

<br/>
    
    <p style="color: black;"><img src="{{pic}}"></p>
  Id:  <p style="color: black;">{{id}}</p>
   Name: <p style="color: black;">{{name}}</p>
   Cost: <p style="color: black;">{{cost}}</p>

<!-- <table class="table table-striped" >
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Cost</th>
      <th>Pic</th>
    </tr>
    <tr >
      <td>{{id}}</td>
      <td>{{name}}</td>
      <td>{{cost}}</td>
      <td><img src="{{pic}}"></td>
    </tr>
  </table> -->